@model IEnumerable<FinancialThing.Models.DataViewModel>

@{
    ViewBag.Title = "Data";
    ViewBag.CurrentPage = "Data";
    Layout = "~/Views/Shared/_FTLayout.cshtml";
    var companyList = Model.Select(x => x.CompanyViewModel).Where(c => c.Toggle.State);
    var numYears = 3;
    //var id = "";
    //if (companyList != null)
    //{
    //    var active = companyList.FirstOrDefault(c => c.Active);
    //    if (active != null)
    //    {
    //        id = active.Id;
    //    }
    //}

}

<div id="companies_header">
    @Html.EditorFor(m => companyList, "CompanyList")
</div>
<div class="row">
    @foreach (var company in Model)
    {
        if (company.CompanyViewModel.Toggle.State)
        {
            var maxYear = company.Financials.MaxYear;
            var minYear = company.Financials.MinYear;
            var diff = maxYear - minYear;
            var count = Math.Min(diff + 1, numYears);
            var startYear = Math.Min(maxYear - numYears + 1, minYear);
            var years = Enumerable.Range(startYear, count).OrderByDescending(x => x);

            <div class="company @company.CompanyViewModel.Active" id="table-@company.CompanyViewModel.Id">
                @if (company.Financials != null)
                {
                    foreach (var data in company.Financials.Pages.OrderBy(p=>int.Parse(p.Dictionary.Order)))
                    {
                        <div class="data">
                            <div class="stmnt_class">@data.Dictionary.DisplayName</div>
                            <div id="data_table">
                                <table>
                                    <thead>
                                        <tr>
                                            <th>

                                            </th>
                                            @foreach (var year in years)
                                            {
                                                <th>
                                                    @year
                                                </th>
                                            }

                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var st in data.Statements.OrderBy(s=>int.Parse(s.Dictionary.Order)))
                                        {
                                            <tr>
                                                <td class="class_header">@st.Dictionary.DisplayName</td>
                                            </tr>
                                            foreach (var d in st.Data.OrderBy(d=>int.Parse(d.Dictionary.Order)))
                                            {
                                                <tr>
                                                    <td>@d.Dictionary.DisplayName</td>
                                                    @foreach (var year in years)
                                                    {
                                                        <td>@d.Values.FirstOrDefault(v => v.Year == year.ToString()).DataValue</td>
                                                    }
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    }
                }

            </div>
        }

    }
</div>
